<ul class="nav hidden-xs" data-spy="affix" data-offset-top="240" data-offset-bottom="0">

    <li>
        <a href="index.html">Einführung</a>
    </li>

    <li>
        <a href="lamp.html">LAMP</a>
    </li>

    <li>
        <a href="mean.html">MEAN</a>
    </li>

    <li>
        <a href="rails.html">Rails</a>
    </li>

    <li>
        <a href="cloud.html">Cloud</a>
        <ul class="nav">
            <li><a href="#cloud-aws">Amazon AWS</a></li>
            <li><a href="#cloud-azure">Windows Azure</a></li>
            <li><a href="#cloud-heroku">Heroku</a></li>
        </ul>
    </li>

</ul>