<ul class="nav hidden-xs" data-spy="affix" data-offset-top="240" data-offset-bottom="0">

    <li>
        <a href="index.html">Einführung</a>
    </li>

    <li>
        <a href="lamp.html">LAMP</a>
    </li>

    <li>
        <a href="mean.html">MEAN</a>
        <ul class="nav">
            <li><a href="#mean-mongodb">MongoDB</a></li>
            <li><a href="#mean-express">Express</a></li>
            <li><a href="#mean-angular">AngularJS</a></li>
            <li><a href="#mean-node">Node.js</a></li>
        </ul>
    </li>

    <li>
        <a href="rails.html">Rails</a>
    </li>

    <li>
        <a href="cloud.html">Cloud</a>
    </li>

</ul>