<ul class="nav hidden-xs" data-spy="affix" data-offset-top="240" data-offset-bottom="0">

    <li>
        <a href="index.html">Einführung</a>
    </li>

    <li>
        <a href="lamp.html">LAMP</a>
    </li>

    <li>
        <a href="mean.html">MEAN</a>
    </li>

    <li>
        <a href="rails.html">Rails</a>
        <ul class="nav">
            <li><a href="#rails-nginx">NGINX</a></li>
            <li><a href="#rails-unicorn">Unicorn</a></li>
            <li><a href="#rails-passenger">Passenger</a></li>
            <li><a href="#rails-puma">Puma</a></li>
            <li><a href="#rails-postgres">Postgres</a></li>
        </ul>
    </li>

    <li>
        <a href="cloud.html">Cloud</a>
    </li>

</ul>