<ul class="nav hidden-xs" data-spy="affix" data-offset-top="240" data-offset-bottom="0">

    <li>
        <a href="index.html">Einführung</a>
    </li>

    <li>
        <a href="lamp.html">LAMP</a>
        <ul class="nav">
            <li><a href="#lamp-linux">Linux</a></li>
            <li><a href="#lamp-apache">Apache</a></li>
            <li><a href="#lamp-mysql">MySQL</a></li>
            <li><a href="#lamp-php">PHP</a></li>
        </ul>
    </li>

    <li>
        <a href="mean.html">MEAN</a>
    </li>

    <li>
        <a href="rails.html">Rails</a>
    </li>

    <li>
        <a href="cloud.html">Cloud</a>
    </li>

</ul>