<ul class="nav" data-spy="affix" data-offset-top="260">

    <li>
        <a href="#basic">Einführung</a>
        <ul class="nav">
            <li><a href="#basic-unix-shell">UNIX Shell</a></li>
            <li><a href="#basic-ssh">SSH</a></li>
            <li><a href="#basic-fw">UFW und IPTables</a></li>
            <li><a href="#basic-backups">Backups</a></li>
            <li><a href="#basic-logs">Log Rotation</a></li>
            <li><a href="#basic-mails">Mails</a></li>
        </ul>
    </li>

    <li>
        <a href="#lamp">LAMP</a>
        <ul class="nav">
            <li><a href="#lamp-linux">Linux</a></li>
            <li><a href="#lamp-apache">Apache</a></li>
            <li><a href="#lamp-mysql">MySQL</a></li>
            <li><a href="#lamp-php">PHP</a></li>
        </ul>
    </li>

    <li>
        <a href="#mean">MEAN</a>
        <ul class="nav">
            <li><a href="#mean-mongodb">MongoDB</a></li>
            <li><a href="#mean-express">Express</a></li>
            <li><a href="#mean-angular">AngularJS</a></li>
            <li><a href="#mean-node">Node.js</a></li>
        </ul>
    </li>

    <li>
        <a href="#rails">Rails</a>
        <ul class="nav">
            <li><a href="#rails-nginx">NGINX</a></li>
            <li><a href="#rails-unicorn">Unicorn</a></li>
            <li><a href="#rails-passenger">Passenger</a></li>
            <li><a href="#rails-puma">Puma</a></li>
            <li><a href="#rails-postgres">Postgres</a></li>
        </ul>
    </li>

    <li>
        <a href="#cloud">Cloud</a>
        <ul class="nav">
            <li><a href="#cloud-aws">Amazon AWS</a></li>
            <li><a href="#cloud-wazure">Windows Azure</a></li>
        </ul>
    </li>

</ul>