<ul class="nav hidden-xs" data-spy="affix" data-offset-top="240" data-offset-bottom="0">

    <li>
        <a href="index.html">Einführung</a>
        <ul class="nav">
            <li><a href="#basic-unix-shell">UNIX Shell</a></li>
            <li><a href="#basic-sudo">sudo</a></li>
            <li><a href="#basic-pakete">Pakete</a></li>
            <li><a href="#basic-ssh">SSH</a></li>
            <li><a href="#basic-copy">Copy</a></li>
            <li><a href="#basic-dns">DNS</a></li>
            <li><a href="#basic-firewall">Firewall</a></li>
            <li><a href="#basic-backup">Backup</a></li>
            <li><a href="#basic-cron">Cron</a></li>
            <li><a href="#basic-log">Log</a></li>
            <li><a href="#basic-upstart">Upstart</a></li>
            <li><a href="#basic-proxies">Proxies</a></li>
            <li><a href="#basic-mail">Mail</a></li>
        </ul>
    </li>

    <li>
        <a href="lamp.html">LAMP</a>
        <ul class="nav">
            <li><a href="#lamp-linux">Linux</a></li>
            <li><a href="#lamp-apache">Apache</a></li>
            <li><a href="#lamp-mysql">MySQL</a></li>
            <li><a href="#lamp-php">PHP</a></li>
        </ul>
    </li>

    <li>
        <a href="mean.html">MEAN</a>
        <ul class="nav">
            <li><a href="#mean-mongodb">MongoDB</a></li>
            <li><a href="#mean-express">Express</a></li>
            <li><a href="#mean-angular">AngularJS</a></li>
            <li><a href="#mean-node">Node.js</a></li>
        </ul>
    </li>

    <li>
        <a href="rails.html">Rails</a>
        <ul class="nav">
            <li><a href="#rails-nginx">NGINX</a></li>
            <li><a href="#rails-unicorn">Unicorn</a></li>
            <li><a href="#rails-passenger">Passenger</a></li>
            <li><a href="#rails-puma">Puma</a></li>
            <li><a href="#rails-postgres">Postgres</a></li>
        </ul>
    </li>

    <li>
        <a href="cloud.html">Cloud</a>
        <ul class="nav">
            <li><a href="#cloud-aws">Amazon AWS</a></li>
            <li><a href="#cloud-azure">Windows Azure</a></li>
            <li><a href="#cloud-heroku">Heroku</a></li>
        </ul>
    </li>

</ul>