<ul class="nav hidden-xs" data-spy="affix" data-offset-top="100" data-offset-bottom="0">

    <li>
        <a href="index.html#basic">Einführung</a>
        <ul class="nav">
            <li><a href="index.html#basic-unix-shell">UNIX Shell</a></li>
            <li><a href="index.html#basic-sudo">sudo</a></li>
            <li><a href="index.html#basic-pakete">Pakete</a></li>
            <li><a href="index.html#basic-ssh">SSH</a></li>
            <li><a href="index.html#basic-copy">Copy</a></li>
            <li><a href="index.html#basic-dns">DNS</a></li>
            <li><a href="index.html#basic-firewall">Firewall</a></li>
            <li><a href="index.html#basic-backup">Backup</a></li>
            <li><a href="index.html#basic-log">Log</a></li>
            <li><a href="index.html#basic-mail">Mail</a></li>
        </ul>
    </li>

    <li>
        <a href="lamp.html#lamp">LAMP</a>
        <ul class="nav">
            <li><a href="lamp.html#lamp-linux">Linux</a></li>
            <li><a href="lamp.html#lamp-apache">Apache</a></li>
            <li><a href="lamp.html#lamp-mysql">MySQL</a></li>
            <li><a href="lamp.html#lamp-php">PHP</a></li>
        </ul>
    </li>

    <li>
        <a href="mean.html#mean">MEAN</a>
        <ul class="nav">
            <li><a href="mean.html#mean-mongodb">MongoDB</a></li>
            <li><a href="mean.html#mean-express">Express</a></li>
            <li><a href="mean.html#mean-angular">AngularJS</a></li>
            <li><a href="mean.html#mean-node">Node.js</a></li>
        </ul>
    </li>

    <li>
        <a href="#rails">Rails</a>
        <ul class="nav">
            <li><a href="#rails-nginx">NGINX</a></li>
            <li><a href="#rails-unicorn">Unicorn</a></li>
            <li><a href="#rails-passenger">Passenger</a></li>
            <li><a href="#rails-puma">Puma</a></li>
            <li><a href="#rails-postgres">Postgres</a></li>
        </ul>
    </li>

    <li>
        <a href="#cloud">Cloud</a>
        <ul class="nav">
            <li><a href="#cloud-aws">Amazon AWS</a></li>
            <li><a href="#cloud-wazure">Windows Azure</a></li>
        </ul>
    </li>

</ul>